.contact-fijo{
  text-align: center;
  padding:5px 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  width: 90%;
  margin:auto;
  height: 350px;
  margin-top: 20px;
}
@media (min-width:1440px){
  .contact-fixed{
    position: fixed;
    top: 0;
    text-align: center;
    padding:5px 0;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    width: 263px;
    margin:auto;
    height: 350px;
    margin-top: 20px;
  }
  .contact-fixed h3{
    position: fixed;
    right: 129px;
  }
}


.menu{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.menu p{
  margin: 0;
  text-align: justify;
}
.aside{
  background: rgb(246, 195, 151);
  height:auto;
  width: 100%;
  position: relative;
}
.col-1{
  text-align: center;
  padding:5px 0;
  color: rgb(130, 62, 17);
  background: rgb(195, 242, 162);
  width: 90%;
  margin:auto;
  height: 550px;
  margin-top: 20px;
}
.col-2{
  text-align: center;
  padding:5px 0;
  color: rgb(130, 62, 17);
  background: rgb(255, 255, 255);
  width: 90%;
  margin:auto;
  height: 250px;
  margin-top: 20px;
}
.col-ultimo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
}
.col-3{
  text-align: center;
  padding:5px 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  width: 90%;
  margin:auto;
  height: 100%;
  margin-top: 20px;
}
footer{
  background: rgb(220, 220, 220);
  width: 100%;
  height: 920px;
}
